@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Young";
  src: url("./assets/fonts/YoungSerif-Regular.ttf");
}
:root {
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Outfit";
  font-size: 16px;
  min-height: 100vh;
  background: url("./assets/images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 18px;
}
div.wrapper {
  max-inline-size: 80%;
  margin-inline: auto;
  padding: 2em;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin: 2em auto;
  width: 50%;
  border-radius: 39px;

  @media (max-width: 50em) {
    width: 100%;
  }
}
header h1 {
  padding: 14px;
  border-radius: 12px;
}
header ul {
  list-style-type: none;
}
header li {
  display: inline;
  margin-left: 30px;
}
header a {
  color: white;
  text-decoration: none;
  padding: 14px;
  border-radius: 12px;
  transition: 0.3s all linear;
  font-weight: 600;
}
header a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #400808;
}
.hero {
  text-align: center;
  padding: 2em;
}
.hero .info {
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  display: inline-block;
}
.hero h2 {
  font-size: 4em;
  font-family: "Young", sans-serif;
  margin-bottom: 20px;
}
.hero h2:nth-child(1),
.hero h2:nth-child(2) {
  margin-bottom: 0;
}
.hero a {
  padding: 14px;
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-top: 12px;
  border-radius: 9px;
  color: #400808;
  text-decoration: none;
  margin-left: 5px;
  font-weight: 500;
}
.hero a:first-child {
  margin-left: 0;
}
.hero a:hover {
  color: white;
  background-color: #400808;
}
.skills {
  padding: 3em;
  text-align: center;
}
h3 {
  font-size: 3em;
  font-family: "Young", sans-serif;
  margin-bottom: 26px;
}
.projects {
  text-align: center;
}
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
.card {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(77, 7, 7, 0.7);
  border-radius: 12px;
}
.card img {
  border-radius: 12px 12px 0 0;
  width: 100%;
}
.box {
  padding: 1em;
  font-size: 0.8em;
}
.box h4 {
  font-size: 1.9em;
}
.box p,
h4 {
  margin-top: 12px;
}
.box a {
  margin: 12px 2px 12px 2px;
  display: inline-block;
  float: left;
  width: 48%;
  padding: 14px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #400808;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
}
.box a:hover {
  color: white;
  background-color: #400808;
}
.column {
  display: flex;
}
.cta form#msg-form {
  border: 1px solid white;
  padding: 2em;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2em;
}
.cta form#news-form {
  text-align: center;
}
.contact-box {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 14px;
}
@media (max-width: 50em) {
  .columns {
    grid-template-columns: 1fr;
  }
}
