@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Young";
  src: url("./assets/fonts/YoungSerif-Regular.ttf");
}
:root {
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Outfit";
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #400808;
  color: white;
}
div.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  border: 1px solid white;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 1rem;
  width: 60%;
}
header h1 {
  color: white;
}
header ul {
  list-style: none;
}
header li {
  display: inline;
  margin-left: 30px;
}
header li:nth-child(1) {
  margin-left: 0;
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  color: rgba(255, 255, 255, 0.6);
}
/* utility */
.columns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
/* section hero */
section {
  padding: 3em;
}
.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.hero h2 {
  color: white;
  font-size: 4.5em;
  font-weight: 200;
  font-family: "Young";
}
.hero h2:nth-child(3) {
  padding-bottom: 20px;
}
.hero a {
  color: #400808;
  background-color: white;
  padding: 14px;
  border: none;
  border-radius: 6px;
  display: inline-block;
  margin-top: 12px;
  text-decoration: none;
  font-weight: 500;
}
.skills {
  text-align: center;
}
.skills h3 {
  font-size: 3em;
  margin-bottom: 30px;
}
.projects {
  padding: 2em;
  text-align: center;
}
.projects h3 {
  font-size: 3em;
  margin-bottom: 30px;
}
.projects img {
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.card {
  width: 100%;
  height: auto;
  background-color: black;
  border-radius: 14px;
  overflow: hidden;
}
figcaption {
  padding: 14px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0.6);
}
figure a {
  color: white;
  text-decoration: none;
}
.cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta form {
  width: 20rem;
  height: 20rem;
  border: 1px solid white;
}
footer {
  padding: 2em;
}
